
* {
    font-family: sans-serif;
}

body{
    margin: 0px;
}

.SignUp {
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
}

.nav {
    background-color: #FFF;
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    color:  #BA0C2F;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.hr {
    border: 1px solid #ccc;
    margin: 0px;
}


.SignUp form {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 400px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; /* added */
    align-items: center; /* added */
}

.SignUp input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    padding: 5px;
    margin-left:40px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bottom-btns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bottom-btns a {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    margin-left: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
}

.bottom-btns button[type="submit"] {
    background-color: #fff;
    color:  #000;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0px 0px 4px;

}

.username-entry {
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
}



